/* styles.css */
* {font-family: "Comic Sans MS";}
body { font-family: Arial, sans-serif; margin: 0; padding: 0; text-align: center; }
header { background: #ba5f2e; color: white; padding: 110px; }
nav a { color: white; margin: 0 15px; text-decoration: none; }
.hero { padding: 210px; background: url('../images/hero-background.jpg') no-repeat center center/cover; color: white; }
.hero .outlined { text-shadow: 2px 2px 4px black; border: 2px solid rgb(75, 74, 74); padding: 10px; display: inline-block; background: rgb(117, 116, 116, 0.7);}
.cat-fact { padding: 20px; background: lightgray; }
.games { padding: 30px; background: lightyellow; }
footer { background: #3f0252; color: white; padding: 10px; margin-top: 20px; }
button { padding: 10px 20px; margin-top: 10px; cursor: pointer; background-color: #d46c33; color: rgb(3, 201, 201);}
button:hover{  padding: 15px 25px; margin-top: 10px; cursor: pointer;  background-color: #ea7739; color: aqua;}
.game-grid { display: grid; grid-template-columns: repeat(4, 100px); gap: 10px; justify-content: center; }
.card { width: 100px; height: 100px; background: gray; cursor: pointer; display: flex; align-items: center; justify-content: center; background-size: cover; background-position: center; border: 2px solid black; }
.hidden { display: none; }
#cat-image {cursor: pointer; width: 200px; height: auto;  transition: 2s;}
#cat-image:hover {transform: scale(1.5) rotate(730deg); transition: 2s; padding: 100px 0 100px 0;}
#logo {height: 140px; position: absolute; top: 50px; left: 50px;}